body {
    background-image: url("../images/baseball_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.h_bg {
    background-image: url("../images/header_bg.jpg");
}

.minh_100px {
    min-height: 100px !important;
}

.extra_text {
    display: show;
}

.p_header {
    padding: 2rem;
}

.fw_bolder {
    font-weight: 500;
}

.bg_correct {
    background-color: #73e973 !important;
}

.bg_incorrect {
    background-color: #f1b0b7 !important;
}

.answer:hover {
    background-color: #abdde5;
}

.incorrect_brief {
    background-color: #fff3e0;
    color: #bf360c;
}

.correct_brief {
    background-color: #d4edda;
    color: #343a40;
}

.end_brief {
    background-color: #d1ecf1;
    color: #343a40;
}

.brief_text {
    font-size: 1.15rem;
    font-weight: 500;
}

.m1_fluid {
    margin: 1rem 3rem;
}

@media (max-width: 991.98px) {
    .m1_fluid {
        margin: 1rem 2rem;
    }
    .p_header {
        padding: .5rem 1rem;
    }
}

@media (max-width: 767.98px) {
    .m1_fluid {
        margin: 1rem 0;
    }
    .extra_text {
        display: none;
    }
    .p_header {
        padding: .5rem;
    }
}